<ion-header>
  <ion-toolbar>
    <ion-button slot="Comenzar" (click)="gobacktohome()">Home</ion-button>
    <ion-title>
      <img alt="logo" height="40"   src="../../../assets/logo.jpg">
      Your account, {{ username }}
    </ion-title>
    <ion-button slot="end" (click)="logout()">Salir</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides *ngIf="queryLoaded" [options]="slideOptions">
    <ion-slide *ngFor=" let item of queryItems">
      <ion-card>
        <div class="center">
        <ion-card-title>
          <ion-icon name="person-circle-outline"></ion-icon>
          Insurance plan quote
        </ion-card-title>
        </div>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>Identificador</ion-col>
              <ion-col>{{ item.pk }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Timestamp</ion-col>
              <ion-col>{{ item.timestamp }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Duración de la Póliza</ion-col>
              <ion-col>{{ item.duration }} Meses</ion-col>
            </ion-row>
            <!-- <ion-row>
              <ion-col>Género</ion-col>
              <ion-col> todo.value.gender </ion-col>
            </ion-row> -->
            <!-- <ion-row>
              <ion-col>Fumador</ion-col> 
              <ion-col> todo.value.smoke </ion-col>
            </ion-row> -->
            <ion-row>
              <ion-col>Precio Cuota</ion-col>
              <ion-col>
                <ion-label>€ {{ item.quote }} <span>pm*</span></ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
